{{! user-approval-notification }}

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      body { font-family: Arial, sans-serif; background-color: #f4f4f4; margin:
      0; padding: 0; } .container { width: 100%; max-width: 600px; margin: 0
      auto; background-color: #ffffff; border-radius: 8px; overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); } .header { background-color:
      #DC3173; color: #ffffff; padding: 20px; text-align: center; } .content {
      padding: 20px; } .user-name { font-weight: bold; font-style: italic; }
      .author { font-style: italic; font-weight: bold; } .footer {
      background-color: #f1f1f1; color: #555555; text-align: center; padding:
      10px; font-size: 14px; } .remarks { margin-top: 15px; margin-bottom: 15px;
      text-align: center; color: #DC3173; font-style: italic; }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='header'>
        <h1>DeliGo {{userRole}} Application Update</h1>
      </div>
      <div class='content'>
        <p>Dear <span class='user-name'>{{userName}}</span>,</p>
        <p>
          We are pleased to inform you that your application to become a vendor
          with DeliGo has been
          <strong>{{#if isApproved}}approved{{else}}rejected{{/if}}</strong>.
        </p>
        {{#if isApproved}}
          <p>
            <div class='remarks'>Remarks: {{remarks}}</div>
          </p>
        {{else}}
          <p>
            We regret to inform you that your application did not meet our
            criteria at this time.
            {{#if remarks}}
              <div class='remarks'>Remarks: {{remarks}}</div>
            {{/if}}
            Please feel free to reach out to our support team for more
            information or to discuss potential next steps.
          </p>
        {{/if}}
        <p>Thank you for your interest in partnering with DeliGo!</p>
        <div>
          <p>Sincerely,</p>
          <p class='author'>The DeliGo Team</p>
        </div>
      </div>
      <div class='footer'>
        &copy;
        {{currentYear}}
        DeliGo. All rights reserved.
      </div>
    </div>
  </body>
</html>