<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <style>
      body { margin: 0; padding: 0; background: #f3f4fa; font-family: monospace;
      font-weight: 600;} .container { max-width: 650px; margin: 0 auto;
      background: #ffffff; border-radius: 18px; overflow: hidden; box-shadow: 0
      8px 30px rgba(0, 0, 0, 0.07); } /* ============ HEADER ============ */
      .header { background: linear-gradient(135deg, #dc3173, #a80e52); padding:
      22px 30px; display: flex; justify-content: space-between; align-items:
      center; } .header-left { display: flex; align-items: center; gap: 12px; }
      .header-left img { width: 52px; height: auto; display: block; }
      .logo-title { color: #ffffff; font-size: 30px; font-weight: 700; margin:
      0; line-height: 1; } .header-date { color: #ffffff; font-size: 15px;
      white-space: nowrap; } /* MIDDLE */ .middle { background: #FAE0EA; } /*
      TITLE */ .title { text-align: center; font-size: 28px; font-weight: bold;
      padding: 25px 0 15px; color: #1e1e1e; } /* CONTENT */ .content { padding:
      0 30px 25px 30px; font-size: 17px; color: #333333; line-height: 1.7; } /*
      OTP */ .otp-box { font-size: 36px; font-weight: 800; letter-spacing: 4px;
      padding: 18px 0; background: #fafafa; border-radius: 10px; display:
      inline-block; width: 240px; color: #dc3173; border: 1px solid #e0e0e0;
      margin: 15px auto 10px; } /* NOTE */ .note { font-size: 15px; color:
      #ff3b3b; text-align: center; margin-bottom: 25px; } /* SOCIAL ICONS */
      .social-section { text-align: center; padding: 20px 0; background:
      #FAE0EA; } .social-section img { width: 34px; margin: 0 10px; } /* FOOTER
      */ .footer { font-size: 14px; text-align: center; color: #666; padding:
      15px 30px 25px 30px; border-top: 1px solid #e4e4e4; background: #FAE0EA; }
      /* APP STORE BUTTONS */ /* RESPONSIVE */ @media only screen and
      (max-width: 480px) { .header { flex-direction: column; gap: 6px; }
      .header-left { justify-content: center; } .header-left img { width: 40px
      !important; } .logo-title { font-size: 22px !important; } .header-date {
      text-align: center; width: 100%; } .otp-box { width: 200px !important;
      font-size: 30px !important; letter-spacing: 2px; } .content { padding: 0
      20px 25px 20px; } .footer { padding: 10px 20px 20px 20px; } }
    </style>
  </head>

  <body>
    <br />

    <div class='container'>
      <!-- HEADER -->
      <div class='header'>
        <table
          width='100%'
          cellspacing='0'
          cellpadding='0'
          style='border-collapse: collapse;'
        >
          <tr>
            <!-- LEFT -->
            <td align='left' style='padding: 0;'>

              <div class='header-left'>
                <img
                  src='https://res.cloudinary.com/dmsezyylp/image/upload/v1763207245/DeliGo-White-logo_sme0nt.png'
                  alt='DeliGo Logo'
                />
                <h2 class='logo-title'>DeliGo</h2>
              </div>

            </td>

            <!-- RIGHT -->
            <td align='right' style='padding: 0;'>
              <div class='header-date'>{{date}}</div>
            </td>
          </tr>
        </table>
      </div>

      <div class='middle'>
        <!-- TITLE -->
        <div class='title'>Your One-Time Password</div>

        <!-- CONTENT -->
        <div class='content'>
          <strong>Dear {{user}},</strong><br /><br />
          Your One-Time Password (OTP) to securely access your DeliGo account
          is:
        </div>

        <!-- OTP -->
        <div style='text-align:center;'>
          <div class='otp-box'>{{otp}}</div>
        </div>

        <!-- NOTE -->
        <div class='note'>Note: This OTP is valid for 5 minutes only.</div>

        <div class='content'>
          If you did not request this OTP, please ignore this message or contact
          our support team.
          <br /><br />Regards,<br />
          Team DeliGo
        </div>
      </div>

      <!-- SOCIAL ICONS -->
      <div class='social-section'>
        <a href='https://www.facebook.com/deligoeu' target='_blank'>
          <img
            src='https://res.cloudinary.com/duagqnvpw/image/upload/v1763520442/facebook_pcla1y.png'
            alt='Facebook'
          />
        </a>
        <a href='https://www.youtube.com/@DeliGoPT' target='_blank'>
          <img
            src='https://res.cloudinary.com/duagqnvpw/image/upload/v1763520442/youtube_f3hzep.png'
            alt='Youtube'
          />
        </a>
        <a href='https://www.linkedin.com/in/deligopt' target='_blank'>
          <img
            src='https://res.cloudinary.com/duagqnvpw/image/upload/v1763520442/linkedin_bhmzdk.png'
            alt='Linkedin'
          />
        </a>
        <a href='https://www.instagram.com/deligo.pt/#' target='_blank'>
          <img
            src='https://res.cloudinary.com/duagqnvpw/image/upload/v1763520443/instagram_lwmdxa.png'
            alt='Instagram'
          />
        </a>
      </div>

      <!-- FOOTER -->
      <div class='footer'>
        Website:
        {{website}}
        <span style='margin-left: 2px; margin-right: 2px'>|</span>
        Phone:
        {{phone}}<br />
        Address:
        {{address}}
        <div>
          <p>&copy; {{currentYear}} DeliGo. All rights reserved.</p>
        </div>
      </div>
    </div>

    <br />
  </body>
</html>